html, body, #root {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  

  
  .min-h-screen {
    min-height: calc(100vh - 10px); /* Adjust according to your footer height */
}
  
